h1 {
  color:blue;
  text-align: center;
  font-style: italic
  font-weight: 500px;
  font-family: Georgia
  font-size: 40px
  line-height: 50px
}
.section {
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
}

h2.section-header {
  color:black;
  text-align: center;
  font-style: italic
  font-weight: 500px;
  font-family: Georgia
  font-size: 300px
  line-height: 50px
}

.centered-image {
  width: 254px;
  height: 185px;
  object-fit: cover;
  float: center
}

.footer {
  border: 1px solid blue
}

.hobbies {
  color: brown;
}
